/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [MaNCC]
      ,[TenNCC]
      ,[SoLuongMua]
      ,[Gia]
      ,[DiaChi]
      ,[GhiChu]
  FROM [NuocNgotStore_3].[dbo].[NCC]